
.DS_Store
*.xcuserstate
Dicee.xcodeproj/project.xcworkspace/xcuserdata/omarassidi.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Dicee.xcodeproj/project.xcworkspace/xcuserdata/omarassidi.xcuserdatad/UserInterfaceState.xcuserstate
